target
subjects.xml
equiv-classes
*.equiv-class
*.cor
*.mml.bin

*.log
*.aux
*/.idea/
*/target/
*.iml
.vscode/
*.csv
!subjects/subjects.csv
*.jar
framework/repos
framework/.repos
framework/lib
**/.mypy_cache/

.DS_Store

*-equiv-classes
